* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    width: 224px;
    height: 55px;
    color: white;
    background-color: #F3974E;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    border-radius: 32px;
    border: 2px solid #F3974E;
    transition: 0.4s;
    cursor: pointer;
}

button:hover {
    color: orangered;
    background-color: white;
    border: 2px solid orangered;
    transform: scale(0.95);
}

hr {
    width: 80px;
    height: 4px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container-fluid {
    width: 1300px;
    margin: 0 auto;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* --------nav start--------- */

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-list {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 50px 0px;
}

.nav .nav-list .nav-item a {
    padding: 5px 15px;
    margin-left: 10px;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #020105;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.5s;
}

.nav .nav-list .nav-item a:hover {
    border: 1px solid rgba(255, 68, 0, 0.534);
    color: orangered;
}

.active {
    color: #e76d08 !important;
}

/* ---------------page-start----------------- */


.page {
    margin: 80px 0px;
}

.page .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page .page-list {
    width: 49%;
}

.page-list .page-item {
    margin: 20px 0px;
}

.page-list .page-item hr {
    background-color: #F3974E;
    border: 1px solid #F3974E;
}

.page-list .page-item span {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 56px;
}

.page-list .page-item p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #020105;
}



/* -----------------aside-start---------------------- */

.box {
    padding: 100px 0px 50px;
}

.box hr {
    background-color: #F3974E;
    border: 1px solid #F3974E;
}

.box .box-title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}

.box .box-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.box .box-list .box-item {
    border: 1px solid #71c0c63f;
    border-radius: 16px;
    padding: 15px;
    transition: 0.3s;
}

.box .box-list .box-item:hover {
    border: 1px solid #ffffff;
    box-shadow: 0px 1px 13px -4px black;
    color: #F3974E !important;
}

.box .box-list .box-item:hover h2 {
    color: #e76d08;
}

.box .box-list .box-item img {
    width: 230px;
}

.box .box-list .box-item h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #020105;
}


/* -------------section start--------------- */

.section {
    padding: 70px 0px;
    background: #71C0C6;
}

.section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section .section-list {
    width: 49%;
}

.section .section-list .section-item hr {
    background-color: white;
    border: 1px solid white;
}

.section .section-list .section-item span {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: white;
}

.section .section-list .section-item p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

.section .section-list .section-item:last-child {
    margin-top: 20px;
    padding: 25px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.431);
    background: rgba(255, 255, 255, 0.1);
}

.section .section-list .section-item ul {
    list-style: disc;
    color: white;
}

.section .section-list .section-item ul li {
    margin: 20px;
}

.section .section-list .section-item ul li:first-child {
    margin-top: 0px;
}

.section .section-list .section-item ul li:last-child {
    margin-bottom: 0px;
}


/* -----------------aside-start---------------------- */

.aside {
    padding: 100px 0px 50px;
}

.aside hr {
    background-color: #F3974E;
    border: 1px solid #F3974E;
}

.aside .aside-title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}

.aside .aside-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.aside .aside-list .aside-item {
    border: 1px solid #71c0c63f;
    border-radius: 16px;
    padding: 15px;
    transition: 0.3s;
}

.aside .aside-list .aside-item:hover {
    border: 1px solid #ffffff;
    box-shadow: 0px 1px 13px -4px black;
    color: #F3974E !important;
}

.aside .aside-list .aside-item:hover h2 {
    color: #e76d08;
}

.aside .aside-list .aside-item img {
    width: 230px;
}

.aside .aside-list .aside-item h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #020105;
}

/* -----------------form start------------------ */

.form {
    padding: 50px 0px 80px;
}

.form .container-fluid {
    padding: 50px 0px;
    background-image: url("../images/Rectangle\ 2003.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 24px;
    background-size: cover;
}

.form .form-list {
    width: 50%;
}

.form-list .form-item {
    margin: 15px 0px;
}

.form-list .form-item hr {
    background-color: #F3974E;
    border: 1px solid #F3974E;
}

.form .form-title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
}

.form-list .form-item p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #020105;
}

.form-list .form-item input {
    height: 55px;
    width: 100%;
    padding: 5px 25px;
    background: #FFFFFF;
    border: 1px solid #71C0C6;
    border-radius: 32px;
    font-size: 18px;
}

.form .form-list .form-items {
    display: flex;
    justify-content: space-between;
}

.form .form-list .form-items input {
    width: 48% ;
    
}

/* -------------------footer start--------------------- */

.footer {
    padding: 50px 0px;
    background-color: #71C0C6;
}

.footer .container {
    display: flex;
    justify-content: space-between;align-items: flex-start;
}

.footer .footer-list {
    margin: 0px 57px;
}

.footer .footer-list:first-child {
    margin-left: 0px !important;
}

.footer .footer-list:last-child {
    margin-right: 0px !important;
}

.footer .footer-list .footer-item p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 15px;
}

.footer .footer-list .footer-item p b {
    color: white !important;
}

.footer .footer-list .footer-items {
    margin: 15px 0px 35px;
}

.footer .footer-lists .footer-items a{
    margin-right: 10px;
    display: inline-block;
}

.footer .footer-lists .footer-items a img {
    width: 25px;
}

.footer .footer-lists .footer-items a img:hover {
    transform: scale(1.5);
}

.footer .footer-item:first-child {
    font-style: normal;
    font-weight: 540;
    font-size: 26px;
    line-height: 32px;
    color: white;
    padding-bottom: 20px;
}

.footer .footer-item a {
    display: flex;
    align-items: flex-start;
}

.footer .footer-item a img {
    margin-right: 5px;
    width: 20px;
    transition: 0.3s;
}

/* ----------------------------------------- */
#myBtn {
    height: 60px;
    width: 60px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.466);
    color: black;
    border-radius: 50%;
    border: 0.1px solid rgba(0, 0, 0, 0.123);
    transition: 0.3s;

}

#myBtn p {
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    bottom: -24px;
    right: 8px;
}

#myBtn:hover {
    color: #00BAFC;
    transform: scale(0.9);
}


